<div class="radio-wrapper">
    @if (label) {
    <label class="radio-label">{{ label }}</label>
    }

    <div class="radio-group" [class.inline]="inline" [class.disabled]="disabled">
        @for (option of options; track option.value) {
        <label class="radio-option" [class.disabled]="option.disabled || disabled">
            <input type="radio" [checked]="isSelected(option)" [disabled]="option.disabled || disabled"
                (change)="selectOption(option)" class="radio-input" />
            <span class="radio-circle" [class.checked]="isSelected(option)">
                @if (isSelected(option)) {
                <span class="radio-dot"></span>
                }
            </span>
            <div class="radio-content">
                <span class="radio-text">{{ option.label }}</span>
                @if (option.hint) {
                <span class="option-hint">{{ option.hint }}</span>
                }
            </div>
        </label>
        }
    </div>

    @if (error) {
    <span class="radio-error">{{ error }}</span>
    } @else if (hint) {
    <span class="radio-hint">{{ hint }}</span>
    }
</div>